:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

button {
  border: none;
  background: var(--main-color);
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #0095b363;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #0095b363;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
}
.navbar li {
  display: inline;
  list-style: none;
}
li a {
  text-decoration: none;
  color: #fff;
  margin-left: 40px;
  padding-bottom: 5px;
}
li a:hover {
  color: var(--main-color);
}

.header {
  background: url(./imges/header-background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;

  /* position: relative; */
}

.main-heading {
  position: absolute;
  top: 10rem;
  font-size: 4rem;
  word-spacing: 10px;
}

.primary-heading {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -50px;
}

.read-btn:hover,
.order-btn:hover {
  color: #fff;
  background-color: #0095b363;
}

.main-sections {
  /* height: 100vh; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.img {
  background-position: center;
  width: 400px;
  height: 300px;
  margin: 0 20px;
  border-radius: 6px;
}

.read-btn {
  font-family: fantasy;
  font-size: 9px;
  padding: 5px 15px;
}
.title-style {
  display: flex;
  align-items: center;
}
.title {
  font-size: 3rem;
  color: #fff;
}
.line {
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(-120px);
}

.section-content {
  margin: 0 15px;
}
.section-content p {
  max-width: 500px;
  color: #fff;
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px 0;
}
.read-more-text {
  display: none;
}
/* #menu-img {
  height: 200px;
  width: 180px;
} */

.menu {
  margin-top: 5rem;
}

.menu .title {
  font-size: 4rem;
  margin: 10rem 0 10rem 10rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card {
  border: 1px solid var(--main-color);
  /* padding: 0 20px; */
  height: 400px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  /* position: relative; */
  margin-bottom: 4rem;
}
.card-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  top: -60px;
}
.card-title {
  color: #fff;
  font-family: sans-serif;
  /* margin-top: 50px; */
}
.card .items {
  color: #fff;
  font-family: sans-serif;
  margin: 20px 0;
}

.footer-items {
  font-family: sans-serif;
  color: #fff;
  height: 20vh;
  border-top: 2px solid #0095b363;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.container {
  padding: 10px 25px;
}
.container ul {
  list-style: none;
  text-align: left;
}
.container ul li a {
  margin-left: 0;
}
.copyrights {
  color: #fff;
  margin-top: 10px;
  background-color: #0095b363;
  text-align: center;
}
